@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    /*outline: 1px solid red;*/
}

*::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    color: white;
    background: #9750dd;
}

::selection {
    color: white;
    background: #9750dd;
}



.CabinetModalItem a{
    color: #ae5cff;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

