* {
    font-family: "Exo 2", sans-serif;
    font-size: 1rem;
    /*outline: 1px solid red;*/
}

.Card {
    width: 90%;
    border-radius: 20px;
    background-color: #1E2127;
}



table {
    width: 80%;
    margin: 20px auto;
}

.subject {
    height: 40px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.dark_theme * {
    fill: #fff;
}

.type {
    padding: 2px;
    background-color: #fff;
    color: #191A20;
    border-radius: 8px;
    width: 50px;
    text-align: center;
}

.first {
    background-color: rgba(157, 72, 62, 0.5);
}

.second {
    background-color: rgba(79, 66, 158, 0.4);
}